.calculator {
  background: #1795d4;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  max-width: 400px;
}

.calculator__screen {
  border: 0;
  border-radius: 0.25em;
  box-sizing: border-box;
  font-size: 2rem;
  margin: 2.5%;
  padding: 0.5em;
  text-align: right;
  width: 95%;
}

.calculator__logo {
  display: inline-block;
  height: 60px;
  margin: 2.5%;
  width: 30%;
}

.calculator__button {
  border: 0;
  border-radius: 0.25em;
  color: #555;
  font-size: 2rem;
  line-height: 2em;
  margin: 2.5%;
  padding: 0;
  width: 20%;
}

.calculator__button:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  color: #000;
}

.calculator__button abbr {
  text-decoration: none;
}

.calculator__button--operation {
  background-color: #ddd;
}

.calculator__button--clear {
  background-color: #fed800;
  float: right;
  vertical-align: bottom;
}

.calculator__inputs {
  clear: right;
  border: 0;
  margin: 10px 0 0;
  padding: 0;
}
